<div class="other_data">
  <form action="/showWeather" method="get">
    <div class="input-city">
      <input type="text" name="city" required>
      <label>enter city</label>
    </div>
    <input type="submit" value="search">
  </form>
  <hr>
  <div class="other-options main">
    <h3 class="heading">Main</h3>
    <div class="data">
      <p>Min temp</p>
      <p>{{min_temp}}&deg;</p>
    </div>
    <div class="data">
      <p>Max temp</p>
      <p>{{max_temp}}&deg;</p>
    </div>
    <div class="data">
      <p>Pressure</p>
      <p>{{pressure}}</p>
    </div>
    <div class="data">
      <p>Humidity</p>
      <p>{{humidity}}</p>
    </div>
    <div class="data">
      <p>Visibility</p>
      <p>{{visibility}}</p>
    </div>
  </div>
  <hr>
  <div class="other-options coord">
    <h3 class="heading">Coord</h3>
    <div class="data">
      <p>Longitude</p>
      <p>{{longitude}}</p>
    </div>
    <div class="data">
      <p>Latitude</p>
      <p>{{latitude}}</p>
    </div>
  </div>
  <hr>
  <div class="other-options wind">
    <h3 class="heading">Wind</h3>
    <div class="data">
      <p>Speed</p>
      <p>{{speed}}</p>
    </div>
    <div class="data">
      <p>Degree</p>
      <p>{{degree}}</p>
    </div>
  </div>
</div>